<% if @admin_pass.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@admin_pass.errors.count, "error") %> prohibited this from being saved:</h2>
    <ul>
      <% @admin_pass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @admin_pass, local: true) do |f| %>
  <div class="field">
    <div>
      <%= f.label :password %>(<%= t('view.password_format') + t('view.password_length') %>)
    </div>
    <%= f.password_field :password, placeholder: "" %>
  </div>

  <div class="field">
    <div>
      <%= f.label :password_confirmation %>
    </div>
    <%= f.password_field :password_confirmation, placeholder: "" %>
  </div>

  <div class="field">
    <div>
      <%= f.label :current_password %>
      <span class="small_font"><i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i></span>
    </div>
    <%= f.password_field :current_password, placeholder: "" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to t('view.back'), :back, class: "button_06", role: "button" %>