<%= form_with(model: @hospital) do |f| %>
  <% if @hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Hospital.model_name.human, count: @hospital.errors.count) %></h2>
      <ul>
        <% @hospital.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr class="name_field">
      <td><%= f.label :name, t('view.hospital') + t('view.name_of') + t('view.placeholder.must') %></td>
      <td><%= f.text_field :name, placeholder: t('view.placeholder.hospital_name'), autofocus: true, autocomplete: "name" %></td>
    </tr>

    <tr class="access_field">
      <td><%= f.label :access %></td>
      <td><%= f.text_field :access, placeholder: t('view.placeholder.access'), autocomplete: "access" %></td>
    </tr>

    <tr class="url_field">
      <td><%= f.label :url %></td>
      <td><%= f.text_field :url, placeholder: t('view.placeholder.url'), autocomplete: "introduction" %></td>
    </tr>
  </table>

  <div class="field">
      <%= f.label :hospital_label, t('view.hospital_label') %>
      <span class="small_font"><%= t('view.must_select') %></span>
    <div class="width500">
      <%= f.collection_check_boxes :hospital_label_ids, HospitalLabel.all, :id, :name, { include_hidden: false } do |builder|
        tag.div class: 'form-check-inline' do
          checked = params[:hospital_label_ids]&.include?(builder.value.to_s)

          builder.check_box(checked: checked, class: 'form-check-input') + builder.label(class: 'form-check-label')
        end
      end %>
    </div>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to t('view.back'), :back, class: "button_06", role: "button" %>