<h3><%= t('view.hospital') + t('view.index') %></h3>

<div class="search_area navbar navbar-light bg-light">
  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont, t('view.hospital') + t('view.name_of') + ":" %>
    <%= f.search_field :name_cont, placeholder: t('view.placeholder.part'), class: "me-2" %>
    <%= f.label :hospital_labels_id_eq, t('view.hospital_label') + ":" %>
    <%= f.select :hospital_labels_id_eq, @hospital_labels.map{ |label| [label.name, label.id] }, include_blank: t('view.select') %>
    <%= f.submit class: "btn btn-outline-success btn-sm" %>
  <% end %>

  <%#= link_to t('view.maps'), maps_hospitals_path %>
</div>

<div class="hospital-index_area">
  <table>
    <thead>
      <tr>
        <th><%= t('view.hospital') + t('view.name_of') %></th>
        <th><%= t('view.access') %></th>
        <th><%= t('view.hospital_label') %></th>
      <tr/>
    </thead>
    <tbody>
      <% @hospitals.each do |hospital| %>
        <tr>
          <td id=<%= "hospital-index_item-name-#{hospital.id}" %>, class="name">
            <%= hospital.name %>
          </td>
          <td id=<%= "hospital-index_item-access-#{hospital.id}" %>, class="access small_font">
            <%= hospital.access %>
          </td>
          <td id=<%= "hospital-index_item-#{hospital.id}-label-name" %>, class="labels small_font">
            <% hospital.hospital_labels.each do |label| %>
              [<%= label.name %>]
            <% end %>
          </td>
          <% if logged_in? %>
            <td class="edit-btn">
              <%= link_to t('view.edit'), edit_hospital_path(hospital),
                id: "hospital-edit", class: "btn btn-secondary btn-sm", role: "button"
              %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @hospitals %>