<p align="center" class="logo">MPASS</p>
<ul class="nav">
  <li class="nav-item">
    <%= link_to t('view.top'), 'https://www.???.co.jp/', id: "global-navi_top", class: "nav-link disabled" %>
  </li>
  <li class="nav-item">
    <%= link_to t('view.hospital') + t('view.index'), hospitals_path, id: "global-navi_hospital-index", class: "btn btn-outline-warning" %>
  </li>

  <% if logged_in? %>
    <li class="nav-item">
      <%= link_to t('view.new') + t('view.hospital'), new_hospital_path,
        id: "global-navi_hospital-new", class: "btn btn-outline-secondary"
      %>
    </li>
    <li class="nav-item">
      <%= link_to t('view.hospital_label') + t('view.index'), hospital_labels_path,
        id: "global-navi_hospital_label-index", class: "btn btn-outline-secondary"
      %>
    </li>
    <li class="nav-item">
      <%= link_to t('view.admin_pass') + t('view.change'), edit_admin_pass_path(current_admin_pass.id),
        id: "global-navi_admin_pass-edit", class: "btn btn-outline-secondary"
      %>
    </li>
    <li class="nav-item flex-right">
      <%= link_to t('view.sign_out'), session_path(current_admin_pass.id), method: :delete,
        id: "global-navi_admin_pass-sign-out", class: "btn btn-outline-dark"
      %>
    </li>
  <% end %>
</ul>